# User Settings | Edit there as per required

title: Swift Pearls
url: "http://michalciurus.github.io"
baseurl: ""

# This will show up at the top of index page
site_heading: >
    Swift <span class="faded">Pearls</span>

email: michael.ciurus@gmail.com
author: Michal Ciurus
# This description will show up in google search results
# (for index page) etc.
description: >
    Swift programming pearls

# This will what will show against &copy; in the footer
copyright: Michal Ciurus
# Toggle your short bio, which will displayed on your index page
# Just toggle it and run jekyll again to see
intro: false         # Tip: Remove the span from site_heading if intro is set to true
# This will be displayed in your intro
short_bio: >
    Welcome! This is <span>accent</span>, a mobile friendly theme for Jekyll. The main feature of this
    theme is that you can change the accent color. Refer the
    <a class="underline different-highlight" href="http://ankitsultana.me/accent/documentation.html">
        Documentation
    </a>
    to know how.

permalink: /:title.html

# Comments are powered by disqus
comments: false

# keep about_stub roughly 12 words long for best results
# This will show up at the bottom of each post
# Note that about_footer should be true if you want
# to see author information at the bottom of each post
about_stub: >
    Keep this sentence less than 13 words or it won't look good.

about_footer: false

twitter_username: MichaelCiurus
github_username: michalciurus
facebook_id: yourusername

favicon: true
favicon_location: "http://www.snyxius.com/blog/wp-content/uploads/2015/06/swift-language-logo.jpg"

profile_picture: images/temp.png
paginate: 20
paginate_path: "/page/:num"
tracking_id: UA-78399845-1 # GA Tracking ID

# Social Stuff | open graph and twitter cards
og_image: "http://www.snyxius.com/blog/wp-content/uploads/2015/06/swift-language-logo.jpg" # This will show in facebook thumbnails
twitter_image: "http://www.snyxius.com/blog/wp-content/uploads/2015/06/swift-language-logo.jpg" # This will show in twitter cards

####################################
####################################
####################################
### Build Settings | Don't Touch ###
####################################
####################################
####################################

markdown: kramdown

gems:
    - jekyll-paginate

sass:
    style: compressed
    sass_dir: _sass

# Scopes
defaults:
    -
        scope:
            path:   ""
            type:   "pages"
        values:
            layout: "page"
    -
        scope:
            path:   ""
            type:   "posts"
        values:
            layout: "post"

exclude: [vendor] # For travis ci
